/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
 
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F9F9FC;

}

h1, h2, h3, h4, h5 {
  font-weight: 900;
}



/* nav bar */

/* .container3{
  position: relative;
  z-index: 2;
  background-color:silver;

}

nav{
  position: relative;
  z-index: 2;
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li{
  height: 50px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover{
  background-color: #fffefe;
  color: #1969fe;
  border-radius: 50px;
}

nav li:first-child{
  margin-right: auto;
}

.sidebar, .nav{
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  height: 35vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.menu-button{
  display: none;
 
}

@media(max-width: 800px){
  .hideOnMobile{
      display: none;
  }
  .menu-button{
      display: block;
  }
  
}

@media(max-width: 400px){
  .sidebar{
      width: 100%;
  }
} */


/* Header  */

/* .hero-title {
  font-size: 8vw;
  line-height: 1em;
  font-weight: 900;
}

a {
  transition: all .25s ease-in-out;
}

.blend {
  mix-blend-mode: difference !important;
  color: white;
  position: absolute;
  z-index: 2;
  margin: 55px;
  margin-top: 35%;
  align-items: center !important;
  
}


#video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 100%;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  transform: rotate(180deg);
}

section {
  min-height: 800px;
  height: 800px;
  width: 100%;
} */

/* secound section */

/* .container1{
  position:absolute;
  display: block;
}

img {
  width: 100%;
  pointer-events: none;
  user-select: none;
}

.home {
  display: grid;
  grid-template-columns: 45% 50%;
  place-items: center;
  gap: 50px;
 
}

.description {
  color: black;
  padding: 0 50px;
}

.description h1 {
  line-height: 1.1;
 
}

.gradient-text {
  background-image: linear-gradient(
    90deg,
    rgb(118, 167, 63) 0%,
    rgb(51, 143, 118) 40%,
    rgb(55, 141, 167) 50%,
    rgb(117, 152, 242) 70%,
    rgb(144, 118, 236) 100%
  );
  color: transparent;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 900;

}

.description p {
  font-family: "Nunito", sans-serif;
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  line-height: 1.5;
;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  max-width: max-content;
  background: linear-gradient(
    90deg,
    rgb(118, 167, 63) 0%,
    rgb(51, 143, 118) 40%,
    rgb(55, 141, 167) 50%,
    rgb(117, 152, 242) 70%,
    rgb(144, 118, 236) 100%
  );
  background-size: 200%;
  background-position: left;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0;
  padding: 12px 16px;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5),
    inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn:hover {
  background-position: right;
}

.users-color-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;

}



.item:nth-child(1) {
  background-color: #67d7e1;
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(2) {
  border-radius: 50% 50% 0 0;
}

.item:nth-child(3) {
  background-color: #6cc164;
  border-radius: 50%;
}

.item:nth-child(4) {
  border-radius: 0 0 0 50%;
}

.item:nth-child(5) {
  border-radius: 0 50% 50% 0;
}

.item:nth-child(6) {
  background-color: #8071a8;
  border-radius: 0 50% 50% 50%;
}

.item:nth-child(7) {
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(8) {
  background-color: #fe7519;
  border-radius: 50% 0 0 50%;
}

.item:nth-child(9) {
  background-color: #f5bec3;
  border-radius: 0 50% 50% 0;
}

.item:nth-child(10) {
  border-radius: 50%;
}

.item:nth-child(11) {
  background-color: #fcd659;
  border-radius: 50% 0 50% 50%;
}

.item:nth-child(12) {
  border-radius: 50% 0 0 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
} */


/* Container 4 */
/* 
.container4{
  position: absolute;
  display: block;
  z-index: 2;
}

header {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.menu a {
  color: #131131;
  margin-right: 24px;
  text-decoration: none;
}

.menu a:last-child {
  border: 3px solid #FF77A5;
  border-radius: 50px;
  padding: 8px 16px;
}

.section {
  width: 100%;
  padding: 40px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section article {
  flex: 1 1 300px;
  margin: 6px;
}

.section h2 {
  
  color: #3F38A2;
  margin-bottom: 16px;
}

.section p {
  font-size: 18px;
  color:#131131 ;
  margin-bottom: 24px;
}

.section a {
  font-size: 18px;
  text-decoration: none;
  color: #131131;
  background-color: #F9F9FC;
  border: 3px solid #FF77A5;  
  padding: 8px 16px;
  border-radius: 50px;
}

#s1 a {
  color: #F9F9FC;
  background-color:#FF77A5 ;
}

.img {
  flex: 1 1 300px;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 16px;
}

.img1 {
  background-image: url('70d964ecf9b5a7eef0f5441c9e2e75de.jpg');
}

.img2 {
  background-image: url('70d964ecf9b5a7eef0f5441c9e2e75de.jpg');
}

.img3 {
  background-image: url('70d964ecf9b5a7eef0f5441c9e2e75de.jpg');
}



@media (max-width: 600px) {
  .section article, .img {
    flex: 1 1 100%;
  }

  .section h2 {
    font-size: 24px;
  }

  .section p, .section a {
    font-size: 16px;
  }
}




@media (max-width: 1015px) {
  .home {
    grid-template-columns: 45% 50%;
    gap: 50px;
    padding: 140px 50px;
  }

  .btn {
    padding: 8px 12px;
  }
}

@media (max-width: 865px) {
  .home {
    grid-template-columns: 45% 50%;
    gap: 60px;
    padding: 130px 70px;
  }
  
  .users-color-container {
    gap: 15px;
  }
}

@media (max-width: 667px) {
  .home {
    grid-template-columns: 45% 50%;
    gap: 6px;
    padding: 130px 70px;
  }
  
  .users-color-container {
    gap: 5px;
  }
}

@media (max-width: 815px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "userscolorcontainer"
      "description";
    gap: 30px;
    padding: 90px 80px 70px;
  }

  .users-color-container {
    grid-area: userscolorcontainer;
    gap: 20px;
  }
 
}


@media (max-width: 460px) {
   .home {
    gap: 0;
    padding: 30px 40px;
  }
  

}




@media screen and (min-width: 962px) {
 
  .blend {
    mix-blend-mode: difference !important;
    color: white;
    position: absolute;
    z-index: 2;
    margin: 55px;
    margin-top: 5%;
    align-items: center !important;
    
  }


}

@media screen and (max-width: 896px) {
 
}

@media screen and (max-width: 767px) {
 
}

@media screen and (max-width: 575px) {
  
}

/* Basic styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F9F9FC;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
}

/* Nav bar */
.container1 {
  position: relative;
  z-index: 2;
  background-color: silver;
}

nav {
  position: relative;
  z-index: 2;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: #fffefe;
  color: #1969fe;
  border-radius: 50px;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar, .nav {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  height: 35vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

/* Header */
.hero-title {
  font-size: 8vw;
  line-height: 1em;
  font-weight: 900;
}

a {
  transition: all 0.25s ease-in-out;
}

.blend {
  mix-blend-mode: difference !important;
  color: white;
  position: absolute;
  z-index: 2;
  margin: 55px;
  margin-top: 35%;
  align-items: center !important;
}

#video-bg {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  min-width: 100%;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  transform: rotate(180deg);
}

section {
  min-height: 100%;
  height: 80vh;
  width: 100%;
}

/* Section 1 */
.container3 {
  position: relative;
  display: block;
  margin-bottom: 5px; /* Adjusted margin to reduce spacing */
}

img {
  width: 100%;
  pointer-events: none;
  user-select: none;
}

.home {
  display: grid;
  grid-template-columns: 45% 50%;
  place-items: center;
  gap: 50px;
}

.description {
  color: black;
  padding: 0 50px;
}

.description h1 {
  line-height: 1.1;
}

.gradient-text {
  background-image: linear-gradient(90deg, rgb(118, 167, 63) 0%, rgb(51, 143, 118) 40%, rgb(55, 141, 167) 50%, rgb(117, 152, 242) 70%, rgb(144, 118, 236) 100%);
  color: transparent;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 900;
}

.description p {
  font-family: "Nunito", sans-serif;
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  line-height: 1.5;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  max-width: max-content;
  background: linear-gradient(90deg, rgb(118, 167, 63) 0%, rgb(51, 143, 118) 40%, rgb(55, 141, 167) 50%, rgb(117, 152, 242) 70%, rgb(144, 118, 236) 100%);
  background-size: 200%;
  background-position: left;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0;
  padding: 12px 16px;
  border-radius: 5px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5), inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn:hover {
  background-position: right;
}

.users-color-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.item:nth-child(1) {
  background-color: #67d7e1;
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(2) {
  border-radius: 50% 50% 0 0;
}

.item:nth-child(3) {
  background-color: #6cc164;
  border-radius: 50%;
}

.item:nth-child(4) {
  border-radius: 0 0 0 50%;
}

.item:nth-child(5) {
  border-radius: 0 50% 50% 0;
}

.item:nth-child(6) {
  background-color: #8071a8;
  border-radius: 0 50% 50% 50%;
}

.item:nth-child(7) {
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(8) {
  background-color: #fe7519;
  border-radius: 50% 0 0 50%;
}

.item:nth-child(9) {
  background-color: #f5bec3;
  border-radius: 0 50% 50% 0;
}

.item:nth-child(10) {
  border-radius: 50%;
}

.item:nth-child(11) {
  background-color: #fcd659;
  border-radius: 50% 0 50% 50%;
}

.item:nth-child(12) {
  border-radius: 50% 0 0 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Container 4 */
.container4 {
  position: relative;
  display: block;
  z-index: 2;
  margin-top: 5px; /* Adjusted margin to reduce spacing */
}

header {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

.menu a {
  color: #131131;
  margin-right: 24px;
  text-decoration: none;
}

.menu a:last-child {
  border: 3px solid #FF77A5;
  border-radius: 50px;
  padding: 8px 16px;
}

.bracket {
  width: 100%;
  padding: 5px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bracket article {
  flex: 1 1 300px;
  margin: 6px;
}

.bracket h2 {
  color: #3F38A2;
  margin-bottom: 16px;
}

.bracket p {
  font-size: 18px;
  color: #131131;
  margin-bottom: 24px;
}

.bracket a {
  font-size: 18px;
  text-decoration: none;
  color: #131131;
  background-color: #F9F9FC;
  border: 3px solid #FF77A5;
  padding: 8px 16px;
  border-radius: 50px;
}

#b1 a {
  color: #F9F9FC;
  background-color: #FF77A5;
}

.img {
  flex: 1 1 300px;
  height:50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 16px;
}

.img1 {
  background-image: url('70d964ecf9b5a7eef0f5441c9e2e75de.jpg');
}

.img2 {
  background-image: url('70d964ecf9b5a7eef0f5441c9e2e75de.jpg');
}

.img3 {
  background-image: url('70d964ecf9b5a7eef0f5441c9e2e75de.jpg');
}

@media (max-width: 600px) {
  .bracket article, .img {
    flex: 1 1 100%;
  }

  .bracket h2 {
    font-size: 24px;
  }

  .bracket p, .section a {
    font-size: 16px;
  }
}

@media (max-width: 1015px) {
  .home {
    grid-template-columns: 45% 50%;
    gap: 50px;
    padding: 140px 50px;
  }

  .btn {
    padding: 8px 12px;
  }
}

@media (max-width: 865px) {
  .home {
    grid-template-columns: 45% 50%;
    gap: 60px;
    padding: 130px 70px;
  }

  .users-color-container {
    gap: 15px;
  }
}

@media (max-width: 667px) {
  .home {
    grid-template-columns: 45% 50%;
    gap: 6px;
    padding: 130px 70px;
  }

  .users-color-container {
    gap: 5px;
  }
}

@media (max-width: 815px) {
  .home {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "userscolorcontainer" "description";
    gap: 30px;
    padding: 90px 80px 70px;
  }

  .users-color-container {
    grid-area: userscolorcontainer;
    gap: 20px;
  }
}

@media (max-width: 460px) {
  .home {
    gap: 0;
    padding: 30px 40px;
  }
}

@media screen and (min-width: 962px) {
  .blend {
    mix-blend-mode: difference !important;
    color: white;
    position: absolute;
    z-index: 2;
    margin: 55px;
    margin-top: 5%;
    align-items: center !important;
  }
}

@media screen and (max-width: 896px) {

  .container3{
    margin-top: 3%;
  }

}
@media screen and (max-width: 932px) {

  .container3{
    margin-top: 80px;
  }

}
@media screen and (max-width: 667px) {

  .container3{
    margin-top: 5px;
  }

}


@media screen and (max-width: 1280px) {

  .container3{
    margin-top: 55%;
  }

}



@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {}
